@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.sideToolbar_floatingIcon {
  position: absolute;
  left: -10px;
  z-index: 10;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
  line-height: normal;
  text-align: center;
  color: $secondary-text-color;
  pointer-events: initial;
  fill: $primary-text-color;

  &.sideToolbar_popupOpen {
    transform: rotate(45deg);
  }

  &:hover {
    color: $settings-action-color;
    fill: $settings-action-color;
  }
}

.ltr {
  direction: ltr;
  left: -18px;
}

.rtl {
  direction: rtl;
  right: -18px;
}
