@import '~wix-rich-content-common/dist/statics/styles/mixins';

.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 162px;
  @include border-box;

  @include phone {
    width: 100%;
  }
}
